@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@import "tailwindcss";
@import "./colors.css";

body {
  font-family: "Playfair Display", serif;
}
